<!-- {% load static %} --> <!--Wird nur für Server benötigt-->
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Projekt Zeiterfassung</title>
        <link rel="icon" type="image/png" href="./favicon.png"> <!--<link rel="icon" type="image/png" href="{% static '/favicon.png' %}">--> <!--Wird nur für Server benötigt-->
        <link rel="stylesheet" href="./styles.css"> <!--<link rel="stylesheet" href="{% static '/styles.css' %}">--> <!--Wird nur für Server benötigt-->
        <script type="text/javascript">
            /* Hier kann javascript geschrieben werden */
        </script>
        <!-- "COOKIE" --> 
        <form method="post">
            <input name="keksHtml" type="hidden" value="{{ keks }}">
        </form>
    </head>
    <body>
<!-- Header -->
        <header style="align-items: left;">  
            <!--Seitenlogo-->
            <div>
                <img class="logo" src="./logo.png"> <!--<img class="logo" src="{% static 'logo.png' %}">--> <!--Wird nur für Server benötigt-->       
            </div>
            <div class="navigation" style="position: sticky; top: 0;">
                <ul>
                  <li><a href="./index.html">Startseite</a></li>
                  <li><a href="./sites/project.html">Buchungen durchführen</a></li> 
                  <li class="dropdown"><a href="javascript:void(0)" class="dropdown_headline">Verwaltung</a>
                    <div class="dropdown_content">
                      <a href="./sites/tdd.html">Download / Upload</a>
                      <a href="./sites/management.html">Als VIP-Anwender bewerben</a>
                      <a href="./sites/rights.html">Kommt noch ...</a>
                      <a href="./sites/leadership.html">LOGOUT</a>
                    </div>
                  </li>                
                </ul>
              </div>
        </header>
<!-- Middle -->
        <div>
        </div>
        <div style="text-align: center;">    
            <form method="post" class="filtern">
                <!--{% csrf_token %}--> <!--Wird nur für Server benötigt-->
                <label for="nachTagenFiltern">Nach Tagen filtern: </label>
                <select id="nachTagenFiltern">
                    <option name="filterTag">Alle Tage</option>
                    <!--{% for tag, dictMitKeyModuleUndWertListe in zeiten.items %}--> <!--Wird nur für Server benötigt-->    
                    <option name="filterTag">{{ tag }}</option>   
                    <!--{% endfor %}--> <!--Wird nur für Server benötigt-->
                </select>
                <label for="nachModulFiltern">Nach Modul filtern: </label>
                <select id="nachModulFiltern">
                    <option name="filterModul">Alle Module</option>
                    <!--{% for tag, dictMitKeyModuleUndWertListe in zeiten.items %}--> <!--Wird nur für Server benötigt-->
                        <!--{% for modul, listeMitDict in dictMitKeyModuleUndWertListe.items %}--> <!--Wird nur für Server benötigt-->
                            <option name="filterModul">{{ modul }}</option>
                        <!--{% endfor %}--> <!--Wird nur für Server benötigt-->
                    <!--{% endfor %}--> <!--Wird nur für Server benötigt-->
                </select>
                <button type="submit" class="filterButton">Filtern</button>
            <!--{% csrf_token %}--> <!--Wird nur für Server benötigt-->
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Modul</th>
                        <th>Arbeitszeit</th>
                        <th style="width: 50%;">Bericht</th>
                        <th></th>
                    </tr>
                </thead>
                <!--{% for tag, dictMitKeyModuleUndWertListe in zeiten.items %}--> <!--Wird nur für Server benötigt-->
                    <!--{% for modul, listeMitDict in dictMitKeyModuleUndWertListe.items %}--> <!--Wird nur für Server benötigt-->
                        <!--{% for listeneintrag in listeMitDict %}--> <!--Wird nur für Server benötigt-->
                            <tr>
                                <td>{{ tag }}</td>
                                <td>{{ modul }}</td>
                                <td>{{ listeneintrag.arbeitszeit }}</td>
                                <td>{{ listeneintrag.bericht }}</td>
                                <td><button type="submit" class="button">Löschen</button></td>
                            </tr>
                        <!--{% endfor %}--> <!--Wird nur für Server benötigt-->
                    <!--{% endfor %}--> <!--Wird nur für Server benötigt-->
                <!--{% endfor %}--> <!--Wird nur für Server benötigt-->
            </table>
        </div>    
<!-- Footer -->
        <footer>
            <p>&copy All Rights Reserved by Jan Scheffelmeier</p>
            <p>Kontaktieren Sie mich unter: <a style="color: aliceblue" href="mailto:scheffelmeier_jan@teams.hs-ludwigsburg.de">Scheffelmeier_Jan@teams.hs-ludwigsburg.de</a></p>
        </footer>
    </body>
</html>
