{% load static %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Projekt Zeiterfassung</title>
        <link rel="icon" type="image/png" href="./favicon.png">
        <link rel="stylesheet" href="{% static '/styles.css' %}">
        <script type="text/javascript">
            /* Hier kann javascript geschrieben werden */
        </script>
        <!-- "COOKIE" --> 
        <form method="post">
            <input name="keksHtml" type="hidden" value="{{ keks }}">
        </form>
    </head>
    <body>
<!-- Header -->
        <header style="align-items: left;">  
            <!--Seitenlogo-->
            <div>
                <img class="logo" src="{% static 'logo.png' %}">           
            </div>
            <div class="navigation" style="position: sticky; top: 0;">
                <ul>
                  <li><a href="./index.html">Startseite</a></li>
                  <li><a href="./sites/project.html">Projektunterlagen</a></li> 
                  <li class="dropdown"><a href="javascript:void(0)" class="dropdown_headline">Coachings</a>
                    <div class="dropdown_content">
                      <a href="./sites/tdd.html">Modulgruppe 1: Technische Dimension der Digitalisierung (Paulin)</a>
                      <a href="./sites/management.html">Modulgruppe 2: Verwaltungsmanagement (Schenk)</a>
                      <a href="./sites/rights.html">Modulgruppe 3: Rechtliche Grundlagen der öffentlichen Verwaltung (Klink-Straub)</a>
                      <a href="./sites/leadership.html">Modulgruppe 4: Digital Leadership (Schneider)</a>
                    </div>
                  </li>                
                </ul>
              </div>
        </header>
<!-- Middle -->
        <form method="post">
            {% csrf_token %}
            <select>
                <option name="filterTag">Alle Tage</option>
                {% for tag, dictMitKeyModuleUndWertListe in zeiten.items %}
                    <option name="filterTag">{{ tag }}</option>    
                {% endfor %}
            </select>
            <select>
                <option name="filterModul">Alle Module</option>
                {% for tag, dictMitKeyModuleUndWertListe in zeiten.items %}
                    {% for modul, listeMitDict in dictMitKeyModuleUndWertListe.items %}
                        <option name="filterModul">{{ modul }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
            <button type="submit">Filtern</button>
        {% csrf_token %}
        </form>
        <table style="border: 2px solid black; margin: 50px">
            <tr style="border: 2px solid black">
                <th>Datum</th>
                <th>Modul</th>
                <th>Arbeitszeit</th>
                <th>Bericht</th>
            </tr>
            {% for tag, dictMitKeyModuleUndWertListe in zeiten.items %}
                {% for modul, listeMitDict in dictMitKeyModuleUndWertListe.items %}
                    {% for listeneintrag in listeMitDict %}
                        <tr style="border: 2px solid black">
                            <td>{{ tag }}</td>
                            <td>{{ modul }}</td>
                            <td>{{ listeneintrag.arbeitszeit }}</td>
                            <td>{{ listeneintrag.bericht }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
        <p>hallo welt</p>

    
<!-- Footer -->
        <footer>
            <p>&copy All Rights Reserved by Jan Scheffelmeier</p>
            <p>Kontaktieren Sie mich unter: <a style="color: aliceblue" href="mailto:scheffelmeier_jan@teams.hs-ludwigsburg.de">Scheffelmeier_Jan@teams.hs-ludwigsburg.de</a></p>
        </footer>
    </body>
</html>
